*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;

	font-family: sans-serif;
	/* background-image: url(../assets/images/sleep-cat.jpeg); */
}

.numbers-card {
	display: grid;
	grid-template-columns: repeat(11, 50px);
}

.cell {
	display: flex;
	width: 50px;
	height: 50px;

	align-items: center;
	justify-content: center;

	border: 1px solid black;
}

.player-card {
	display: grid;
	grid-template-columns: repeat(5, 50px);
}

.cell-player {
	display: flex;
	width: 50px;
	height: 50px;

	align-items: center;
	justify-content: center;

	border: 1px solid black;
}

.check {
	background-color: green;
}
